# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Rider
.idea/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store
/interactive_region_scanner/env
/interactive_region_scanner/interactive_region_scanner/__pycache__
