<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootFolder" value="C:\\temp\\OsScreenReader" />
    <add key="StepPixels" value="25" />
    <add key="MaxScreenshots" value="330" />
    <add key="InterCaptureDelayMs" value="2000" />
  </appSettings>
</configuration>
